<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "it.troni.passapport"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>passAPPort</name>

    <description>
        Raggiungi le tue mete. 
    </description>

    <author href="https://www.troni.it" email="giorgio@troni.it">
        Giotroni
    </author>
    <gap:platform name="android" />

</widget>
