<?xml version='1.0' encoding='utf-8'?>
    <widget
        id="it.troni.passapport"
        version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
        
    <preference name="phonegap-version" value="3.7.0" />

    <name>passAPPort</name>
    <description>
        raggiungi le tue mete
    </description>

    <author
        href="http://www.troni.it"
        email="giorgio@troni.it">
        Giorgio Troni
    </author>
    
    <content src="index.html" />

    <access origin="*" />
    
    <icon src="www/img/icon/icon.png" />
    
     <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.geolocation" />

    <feature name="http://api.phonegap.com/1.0/network"/>
    <plugin name="Storage" value="org.apache.cordova.Storage" />


    
</widget>
