<?xml version="1.0" encoding="UTF-8"?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "it.troni.passapport"
    versionCode = "10"
    version = "1.1.0">
  
  <name>passAPPort</name>
  <description>
    Raggiungi le tue mete
  </description>

  <author href="http://troni.it" email="giorgio@troni.it">
    giotroni
  </author>

  <gap:platform name="android" />
  

</widget>
